<section>
  <div class="home-page-welcome">
    <h1>Welcome to the Deployment Inventory Tool</h1>
    <div class="outer-home-carousel">
      <div id="thumbs-home-carousel" class="owl-carousel owl-theme">
        <div id="venm-thumb" class="item">
          <a class="btn btn-outline-info btn-lg">vENM Setup Steps</a>
        </div>
        <div id="cenm-thumb" class="item">
          <a class="btn btn-outline-info btn-lg">cENM Setup Steps</a>
        </div>
      </div>
      <div id="main-image-carousel" class="owl-carousel owl-theme main-image">
        <div class="item">
          <h1>vENM</h1>
          <img src="../img/vENM-Steps.png" alt="vENM Steps" >
        </div>
        <div class="item">
          <h1>cENM</h1>
          <img src="../img/cENM-Steps.png" alt="cENM Steps" >
        </div>
      </div>
   </div>
  </div>
</section>
