<section>
  <div class="page-header">
    <div class="pull-right">
      <div class="btn-toolbar input-group" style="width:300px">
        <input type="text" class="form-control" id="filter-field" placeholder="Search any field...">
        <span class="input-group-addon search-clear glyphicon glyphicon-remove-circle"></span>
        <span class="input-group-addon glyphicon glyphicon-search"></span>
      </div>
    </div>
    <h1>Labels</h1>
  </div>
  <a ui-sref="labels.create" class="btn btn-sm btn-success">Create new label</a>
  <table ng-if="vm.labels.length > 0" id="labels-list-table" class="table table-striped table-condensed table-hover">
    <tbody>
    </tbody>
  </table>
</section>
