<section>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-sm btn-warning" id="view-log" ui-sref="logs.view({ objType: 'schemas', objId: vm.schema._id })">View Log</a>
      </div>
    </div>
    <h1>Viewing schema '{{ vm.schema.name }}-{{ vm.schema.version}}'</h1>
  </div>
  <form>
    <fieldset disabled>
      <div class="row row-relative">
        <div class="col-md-6">
          <div class="form-group">
            <label class="name">Name</label>
            <p class="form-control-static">{{ vm.schema.name }}</p>
          </div>
          <div class="form-group">
            <label>Version</label>
            <p class="form-control-static">{{ vm.schema.version }}</p>
          </div>
          <div class="form-group">
            <label>Category</label>
            <p class="form-control-static">{{ vm.schema.category }}</p>
          </div>
        </div>
        <div class="col-md-6 col-border">
          <div class="col-border-padding">
            <div class="form-group">
              <label>Dependent Documents</label>
              <div ng-switch="vm.dependentDocuments.length">
                <p ng-switch-when="0">None</p>
                <div ng-switch-default class="dependant-items">
                  <p ng-repeat="dependentDocument in vm.dependentDocuments">
                    <a ui-sref="documents.view({documentId: dependentDocument._id})">{{ dependentDocument.name }}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea json-text class="form-control-static" ng-model="vm.schema.content" style="width:100%; height:20em;"></textarea>
      </div>
    </fieldset>
  </form>
</section>
